<section class="pf2e-general-store-dialog">
  <header class="store-controls">
    <div class="store-filters">
      <label class="store-option">
        <input type="checkbox" name="filter-spell" />
        <span>Spell</span>
      </label>
      <label class="store-option">
        <input type="checkbox" name="filter-item" />
        <span>Item</span>
      </label>
    </div>
    <div class="store-search">
      <input type="search" name="store-search" placeholder="Suchen..." />
    </div>
  </header>

  <div class="store-results">
    <ul>
      <li class="placeholder">Keine Ergebnisse.</li>
    </ul>
  </div>
</section>
